{% extends "base.html" %}

{% block content %}
<div class = "jumbotron">
    <h1 class = "display-4">{{ruta.nombre}} - {{ruta.codigo}}</h1>    
    <p class = "lead">{{ruta.inicio}}</p>
    <hr class = "my-3">
    <p class = "lead">{{ruta.punto1}} >> {{ruta.punto2}} >> {{ruta.punto3}} >> {{ruta.punto4}} >> {{ruta.punto5}}</p>
    <hr class = "my-3">
    <p class = "lead">{{ruta.fin}}</p>
    <p>¿Desea borrar la ruta?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
</div>
{% endblock %}
